---
layout: default
menu: home
css: ['index.css', 'sidebar-popular-repo.css']
js: ['autoload.js']
---
<!--<audio src="http://music.163.com/song/media/outer/url?id=33051800.mp3"  autoplay="autoplay" loop="loop">-->

</audio>
<body>
<script type="text/javascript" color="255,255,255" pointColor="144,238,144" opacity='0.9' zIndex="1" count="165" src="\assets\js\canvas-nest.js"></script>
 <!-- 多边形粒子特效 -->
<script src="\assets\js\love.js"></script>
<!-- 小红心 -->

</body>
<section class="jumbotron">
    <div class="container">
        <h1>{{ site.title }}</h1>
        <div id="jumbotron-meta-info">
            <span class="meta-info">
                <span class="octicon octicon-location"></span>
                {{ site.location }}
            </span>
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-organization"></span>
                <a href="{{ site.company_url }}" target="_blank">{{ site.company }}</a>
            </span>
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-mark-github"></span>
                <a href="{{ site.github_url }}" target="_blank">@{{ site.name }}</a>
            </span>
        </div>
    </div>
</section>
<section class="content container">

    <div class="row">
        <font style="float:left">P站每日精选：<br /></font>
        <iframe src="https://cloud.mokeyjay.com/pixiv"  frameborder="0"  style="width:360px; height:380px;" style="float:left"></iframe>

        <!-- Post List -->
        <div class="col-md-8">
            <ol class="post-list">
                {% for post in paginator.posts %}
                <li class="post-list-item">
                    <h2 class="post-list-title">
                        <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <p class="post-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                    <p class="post-list-meta">
                        <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                    </p>
                </li>
                {% endfor %}
            </ol>

            <!-- Pagination -->
            {% include pagination.html %}

            <!-- Comments -->
            {% include disqus-comments.html %}

        </div>

        <div class="col-md-4">
            {% include sidebar-popular-repo.html %}
        </div>

    </div>

</section>
