---
layout: default
css: ['sidebar-post-nav.css']
---
{% include jumbotron.html %}
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="row">

        {% if page.no-post-nav %}
        <div class="col-md-12 markdown-body">

            {{ content }}

            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>
        {% else %}
        <div class="col-md-8 markdown-body">

            {{ content }}

            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>

        <div class="col-md-4">
            {% include sidebar-post-nav.html %}
        </div>
        {% endif %}

    </div>

</article>


<!-- 来必力City版安装代码 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC80NTYzOS8yMjE1MA==">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<!-- City版安装代码已完成 -->
